body {
	margin:0px;
	padding:0px;
	border:0px;
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust:none;
	background-color:#152253;
	color:#626A72;
}

a {
	/*color:white;*/
	text-decoration:none;
}

.graph {
	width:100%;
	height:50%;	
}
.header {
	position:absolute;
	top:0%;
	left:20%;
	width:80%;
	height:9%;
	background-color:#FF8C00;
	text-align:center;	
	color:black;
}

.title {
	margin:0px;
	width:100%;
	height:100%;
}

.navBar {
	width: 20%;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: #152253;
	text-align: center;
}

.hLink {
	width: 100%;
	height: 12.5%;
	float: left;
	padding-top:30.5%;
}

.content {
	text-align:left;
	padding:0.5%;
	/*color:white;*/
	margin: 0px;
	width: 79%;
	position: absolute;
	top: 9%;
	left: 20%;
	height:89%;
	background-color: #0E161F;
	z-index:0;
	opacity:0;
	overflow-y:auto;
}

.emphasis {
	font-size:150%;
	color:white;
	font-weight:bold;
}