body {
	margin:0px;
	padding:0px;
	border:0px;
	font-family: 'Lato', sans-serif;
	background-color:#BFAF80;
	color:#F2EEB3;
}

text.uv-axes-label.cal {
	fill: #FFFFFF;
}

text {
	fill:#FFFFFF;
}
a {
	/*color:white;*/
	text-decoration:none;
}

.banner{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:29%;
	text-align:center;
	color:white;
	
}

.graph {
	background-color:;
	width:100%;
	height:50%;	
}

.title {
	font-weight:bold;
	color:white;
}

.navBar {
	width: 100%;
	position: absolute;
	top: 16%;
	left: 0%;
	height: 8%;
	text-align: center;
}

.hLink {
	width: 20%;
	height: 100%;
	float: left;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background-color: #59323C;
}

.hText {
	margin:0%;
	font-size:1.5vw;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.content {
	text-align:left;
	padding:0.5%;
	/*color:white;*/
	margin: 0px;
	width: 99%;
	position: absolute;
	top: 24%;
	left: 0%;
	height:74%;
	background-color: #8C6954;
	z-index:0;
	opacity:0;
	overflow-x:hidden;
	overflow-y:auto;
	font-size:1vw;
}

.emphasis {
	font-size:150%;
	color:white;
	font-weight:bold;
}

.input {
	width:10vw;
	height:1.2vw;	
}

.button {
	width:3.5vw;
	height:1.2vw;
	font-size:0.8vw;	
}

#newSub {
	width:1vw;
	height:1vw;	
}